{% assign myVariable = 4 %}

{% if myVariable > 10 %}
    <p>myVariable is greater than 10</p>
    <p>Another instruction</p>
    {% assign myNestedVariable = 20 %}
    <p>{{ myNestedVariable }}</p>
{% elsif myVariable > 5 %}
    <p>Variable is greater than 5</p>
{%  elsif myVariable > 3 %}
    <p>Variable is greater than 3</p>
{% else %}
    <p>myVariable is not greater than 3</p>
    <p>{{ myNestedVariable }}</p> 
{% endif %} 